= form_for @profile do |f|
  .form-group
    = f.label :first_name
    = f.text_field :first_name, class: "form-control", placeholder: "Primer Nombre"
  .form-group
    = f.label :second_name
    = f.text_field :second_name, class: "form-control", placeholder: "Segundo Nombre"
  .form-group
    = f.label :first_last_name
    = f.text_field :first_last_name, class: "form-control", placeholder: "Primer Apellido"
  .form-group
    = f.label :second_last_name
    = f.text_field :second_last_name, class: "form-control", placeholder: "Segundo Apellido"
  .form-group
    = f.label :birth_date
    .input-group.date
      .input-group-addon
        %i.fa.fa-calendar
      = f.text_field :birth_date, class: "form-control", placeholder: "Fecha de Nacimiento", data: {'provide': 'datepicker', 'date-format': 'yyyy-mm-dd'}
  .form-group
    = f.label :curp
    = f.text_field :curp, class: "form-control", placeholder: "CURP"
  .form-group
    = f.label :rfc
    = f.text_field :rfc, class: "form-control", placeholder: "RFC"
  .form-group
    = f.label :gender
    = f.select(:gender, options_for_select(gender_select_options, f.object.gender || ''),{prompt: 'Seleccionar'}, { 'data-width': '100%', class: 'form-control'})
  .form-group
    = f.label :birth_state
    = f.select(:birth_state, options_for_select(state_select_options, f.object.birth_state || ''),{prompt: 'Seleccionar'}, { 'data-width': '100%', class: 'form-control'})
  .form-group
    = f.label :phone_number
    = f.text_field :phone_number, class: "form-control", placeholder: "Num. Tel."
  .form-group
    = f.submit "Guardar cambios", class: "btn btn-success"
